@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #333;
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container{
  border: 1px solid #333;
  margin: 40px auto;
  max-width: 900px;
  padding: 20px;
  border-radius: 5px;
  background: #f5f5f5;
}
hr{
  border-color: #333;
  margin: 10px 0;
}

button{
  background: #333;
  color: #fff;
  padding: 0 15px;
  margin: 10px;
  border-radius: 5px;
}